/* mobile css */
.wrapper {
  min-width: unset;
}

* {
  box-sizing: border-box;
}

.header-burger {
  display: none;
  position: relative;
  width: 45px;
  height: 30px;
}

.header-burger > span,
.header-burger::before,
.header-burger::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 0 auto;
}

.header-burger::before,
.header-burger::after {
  content: '';
  display: block;
}

.header-burger::before {
  top: 0;
}

.header-burger::after {
  top: 30px;
}

.header-burger > span {
  top: 15px;
}

.header-burger.open-menu span {
  opacity: 0;
  transition: 0.3s;
}

.header-burger.open-menu:before {
  transform: rotate(45deg);
  transition: 0.3s;
  top: 15px;
}

.header-burger.open-menu:after {
  transform: rotate(-45deg);
  transition: 0.3s;
  top: 15px;
}

@media (max-width:768px) {
  body {
    min-width: unset;
  }
  html,body {
    min-width: unset;
  }
  .content_wrapper > div {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
  .wrapper {
    min-width: unset;
  }
  .header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 2%;
    max-width: none;
    width: 92%;
  }
  .header_h1 {
    display: none;
  }
  .header-burger {
    display: block;
  }
  #navi {
    display: none;
  }
  .header > div > p {
    display: none;
  }
  #closeadmpanel {
    position: relative;  
  }
  #avatar {
    margin: 0;
    width: 15%;
    font-size: none;
  }
  #avatar img {
    width: 100%;
  }
  #closeadmpanel {
    top: 0;
    right: 0;
  }
  div.ay h1 {
    text-align: center;
    margin-left: 0;
  }
  div.ay img {
    display: none;
  }
  div.vpncont {
    width: 100%;
  }
  #isotoped {
    padding: 0;
  }
  .div.pcinfo {
    width: 100%;
    height: none;
    margin: 0;
  }
  .div.pcinfo>h3 {
    margin: 0;
  }
  .pcactions {
    position: static;
  }
  .pcaction > svg {
    margin-top: 0;
  }
  .div.vpncont {
    margin: 0;
  }
  .vpnremote {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width:540px) {
  
}
