:root {
    --pTextSize: 17px;
    --borderSize: none;
}

body {
    margin: 0;
    font-family: "DejaVu Sans Mono", "monospace", sans-serif;
    font-size: 16px;
    color: #222222;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    justify-content: flex-end;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width:1350px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:1051px) {
    .container {
        max-width: 750px;
    }
    }

@media (max-width:821px) {
        .container {
            max-width: 600px;
        }
    }

@media (max-width:661px) {
        .container {
            max-width: none;
        }
}

@media (max-width:661px) {
    .cards_row {
        flex-wrap: wrap;
    }
}

@media (max-width:661px) {
    .cards_column {
        width: auto;
    margin: 15px;    }
}

@media (max-width:661px) {
    .projectDescription {
    text-align: justify;    }
}

.cards {
    margin: 0 0 70px 0;
}

.cards_title {}

.cards_row {
    margin: 0 -15px; 
    display: flex;
}

.cards_column {
    border: var(--borderSize); 
    flex: 0 1 33.333%; 
    padding: 0 15px;
    }

.cards_item {}

.cards_image {margin: 0 0 20px 0;}

.cards_image img {max-width: 100%;}


.cards_body {}

.header {
    border: var(--borderSize);
}

.footer {
    border: var(--borderSize);
}

.about {
    border: var(--borderSize);
}

.services {
    border: var(--borderSize);
}

.projectDescription {
    font-size: 15px;
}

.projectName {
    font-weight: bold;
}

.projectButton {
    border: none;
    background-color: yellow; 
    padding: 10px; 
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
