* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --pTextSize: 17px;
    --borderSize: none;
}

body {
    margin: 0;
    font-family: "DejaVu Sans Mono", "monospace", sans-serif;
    font-size: 16px;
    color: #222222;
    height: 100%;
}

.wrapper {
    border: var(--borderSize) red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    border: var(--borderSize) violet;
    background-color: rgba(245,245,246);
    width: 100%;
    height: 60px;
    position: fixed;
}

.headerBody {
    border: var(--borderSize) blue;
    display: flex; 
    width: 100%;
    justify-content: space-around; 
    align-items: center;
    position: relative;
}

.headerImage {
    border: var(--borderSize) white;
    flex: 0 0 83px;
    border: var(--borderSize);
    position: relative;
    z-index: 2;
}

.headerImage img {
    border: var(--borderSize) white;
    width: 100%;
    display: block;
}

.header_button {
    text-align: center;
    z-index: 2;
}

.header_button_item {
    background-color: white;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    font-family: haas,pragmatica,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0 2px 16px rgba(0,0,0,.08);
    text-decoration: none;
    cursor: pointer;
}
.header_button_item:focus {
    outline: none;
}

.menuList
{
    border: var(--borderSize) green;
    display: flex;
    background-color: #f5f5f6;
    position: relative;
    z-index: 2;
    text-align: center;
}

.menuList li {
    border: var(--borderSize) blue;
    list-style: none;
    margin: 0 0 0 20px;
}

.headerLink {
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(162, 183, 223);
    font-size: 18px;
}

.headerLink:hover {
    color: black;
    transition: .5s;
}

.headerBurger {
    display: none;
}

.headerMenu {}


/* Показываем бургер-меню
________________________________________________________________________________________________________ */
@media (max-width:768px) {
    .header {
        height: 50px; /* Ограничиваем высоту хидера */
    }
    .headerBurger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        border: var(--borderSize);
        position: relative;
        z-index: 3;
    }
    .headerBurger span {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 2px;
        top: 9px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .headerBurger::before,
    .headerBurger::after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .headerBurger::before {
        top: 0;
    }
    .headerBurger::after {
        bottom: 0;
    }
    .headerMenu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
    }
    .headerMenu.active {
        top: 0;
        transition: all 0.3s ease 0s;
    }
    .menuList {
        display: block;    
        padding: 70px 0 0 0;
        height: 100vh;
    }
    .menuList li {
        margin: 15px;
    }
    .headerLink {
        font-size: 18px;
    }
    body.lock{
        overflow: hidden;
    }
    .headerBurger.active span {
        opacity: 0;
        transition: all 0.2s ease 0s;
    }
    .headerBurger.active::before {
        transform: rotate(45deg);
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .headerBurger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: all 0.3s ease 0s;
    }
}
/* ________________________________________________________________________________________________________ */


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    flex-grow: 2;
    margin-top: 55px;
}

.cards {
    margin: 20px 0 70px 0;
    border: var(--borderSize); 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_item {}

.cards_title {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0 0 0 10px;
}

.cards_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: var(--borderSize); 
    justify-content: center;
}

.cards_column {
    border: var(--borderSize) yellow; 
    flex-basis: 29%;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }

.cards_image {
    margin: 0 0 20px 0;
}

.cards_image img {
    max-width: 100%;
}

.cards_body {
    border: var(--borderSize);
}

.projectDescription {
    font-size: 15px;
    text-align: left;
    margin: 15px 0 15px 0;
}

.projectName {
    font-weight: 600;
}

.projectButton {
    border: none;
    background-color: #ffdd2d; 
    padding: 10px; 
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 400;
    cursor: pointer;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.projectButton:focus {
    outline: none;
}

@media (max-width:665px) {
    .cards_column {
        flex: 0 1 100%;
    }
    .cards {
        margin: 12px 0 70px 0;
    }
}

/* Медиазапросы для контейнера. Адаптируем контент под ширину экрана */
@media (max-width:1350px) {
    .container {
        max-width: 970px;}}

@media (max-width:1051px) {
    .container {
        max-width: 850px;}}     

@media (max-width:872px) {
    .container {
        max-width: 700px;}}

@media (max-width:661px) {
    .container {
        max-width: none;}}

@media (max-width:661px) {
    .cards_row {
        flex-wrap: wrap;}}

@media (max-width:661px) {
    .cards_column {
        width: 100%;
        padding: 0;}}

@media (max-width:661px) {
    .projectDescription {
        text-align: justify;    
    }
}

@media (max-width:665px) {
    .cards_column {
        align-items: center;
    }
    .cards_title {
        text-align: center;
        font-size: 25px;
        margin: 0 0 15px 0;
    }
    .projectButton {
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    .cards_body p {
        text-align: center;
        align-items: center;
        margin: 10px o 10px 0;
    }
    .cards_image {text-align: center;
        margin-top: 0;
    }
    .cards_column {
        margin: 0 0 50px 0;
    }
}

.footerItem {
    border: var(--borderSize);
    background-color: rgba(245,245,246);
    width: 100%;
    display: flex;
    justify-content: center;
    }

.footerInside {
    margin: 5px;
    font-size: 10px;
}